<p style="color: green"><%= notice %></p>

<%= render @member %>
<p>
  <strong>Portrait:</strong>
  <%= image_tag @member.portrait.variant(resize_to_limit: [100, 100]) %>
</p>
<div>
  <%= link_to "Edit this member", edit_member_path(@member) %> |
  <%= link_to "Back to members", members_path %>

  <%= button_to "Destroy this member", @member, method: :delete %>
</div>
